<div class="container">


  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Add Category</h5>
      <div class="container">
        <form [formGroup]="categoryForm">
          <div class="form-group loginFields">
            <span class="ui-float-label">
              <input type="text" size="30" formControlName="categoryName" pInputText>
              <label for="float-input">Category Name</label>
            </span>
          </div>
          <button type="button" class="btn btn-primary" (click)="addCategory()">Add Category</button>
        </form>
      </div>
    </div>
  </div>


  <div class="row pt-5">
    <div class="col-sm-6 col-md-6 col-lg-6 pb-2" *ngFor="let category of categoriesList">
        <div class="card">
            <a href="javascript:(0);" [routerLink]="['../addquestions/', {id: category.categoryID}]">
              <div class="card-body">
                {{category.categoryName}}
              </div>
            </a>
          </div>
    </div>
  </div>

</div>
