<div class="container-fluid pt-5">
  <div class="row">
    <div class="col p-0"></div>
    <div class="col loginForm p-0">
      <div class="card border-0">
        <div class="card-header rounded-0 pt-3 pb-3">
          LOGIN
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="input-control">
              <div class="inside-input-control">
                <span class="ui-float-label">
                  <input
                    id="username"
                    type="text"
                    class="custom-input-field"
                    formControlName="uname"
                    size="30"
                    pInputText
                    autocomplete="off"
                  />
                  <label class="custom-input-label" for="username">Username</label>
                </span>
              </div>
            </div>
            <div class="input-control">
                <div class="inside-input-control">
                  <span class="ui-float-label">
                    <input
                      id="password"
                      type="password"
                      class="custom-input-field"
                      formControlName="pwd"
                      size="30"
                      pInputText
                    />
                    <label class="custom-input-label" for="password">Password</label>
                  </span>
                </div>
              </div>

            <div class="form-group mt-3">
              <button
                pButton
                type="button"
                class="submit-btn ui-button-raised rounded-0"
                label="Login"
                (click)="validateUser()"
              ></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col p-0"></div>
  </div>
</div>
