<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-light">

        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
              <button (click)="opensideNav()">
                  <i class="ui-toolbar-separator pi pi-bars" style="vertical-align: middle"></i>
              </button>
          </li>
        </ul>

      </nav>
</div>

<p-sidebar [(visible)]="display" [fullScreen]="false" styleClass="ui-sidebar-sm">
</p-sidebar>


<div class="container">
    <router-outlet></router-outlet>
</div>
